.nav-wrapper {
    background: #1d4ed8;
    min-height: 45px;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 13px 15px;
    font-size: 16px;
    text-decoration: none;
}

.topnav a:hover {
    background: #0f766e;
}

#logout {
    float: right;
    background: #dc2626;
}

#user {
    float: right;
    background: #1e40af;
}

#hamburger {
    background: #0f766e;
    font-size: 18px;
}