.main-content h1{
    margin-bottom:25px;
    color:#1f2937;
}

.receipt-card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 12px 25px rgba(0,0,0,0.1);
    margin-bottom:20px;
}

.receipt-card p{
    font-size:16px;
    margin:6px 0;
}

.btn-print{
    padding:10px 15px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.btn-print:hover{
    background:#1e40af;
}